name: Load Test with Locust

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'staging'
      run-tests:
        description: 'Run unit tests?'
        required: false
        default: 'true'

jobs:
  load-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'  # Specify the Python version you need

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install locust

      - name: Run Locust load test
        run: |
          locust -f LocustFiles/locustfile_1.py --headless -u 10 -r 1 -t 1m
        env:
          LOCUST_HOST: https://stormerfives.github.io  # Set your base URL here
        continue-on-error: true

      - name: Run Locust load test
        run: |
          locust -f LocustFiles/locustfile_2.py --headless -u 10 -r 1 -t 1m
        env:
          LOCUST_HOST: https://stormerfives.github.io  # Set your base URL here
        continue-on-error: true

      - name: Run Locust load test
        run: |
          locust -f LocustFiles/locustfile_3.py --headless -u 10 -r 1 -t 1m
        env:
          LOCUST_HOST: https://stormerfives.github.io  # Set your base URL here
        continue-on-error: true

      - name: Run Locust load test
        run: |
          locust -f LocustFiles/locustfile_4.py --headless -u 10 -r 1 -t 1m
        env:
          LOCUST_HOST: https://stormerfives.github.io  # Set your base URL here
        continue-on-error: true

